/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {
  height: 77vh;
}

/* Set gray background color and 100% height */
.sidenav {
  height: 100%;
}

header{
  color: white; 
  box-shadow:0 3px 4px #888; 
}
    
/* Set black background color, white text and some padding */
footer {
  border-top: 2px solid #b1d415;
  padding: 2px;
  text-align: left;
}

.dashboard{
  margin: 0;
}

.dashboard h1{
  text-align: left;
  width: 100%;
  font-weight: bold;
  text-shadow: 1px 2px 2px #258fcc;
  padding: 10px;
  color: #b1d415;
}

.dashboard h2{
  color: #F0BF1E;
}

.dashboard ul li{
  margin: 0px;
}

.dashboard ul li a{
  text-decoration: none;
}

.dashboard ul li a{
  font-weight: bold;
  font-size: 1.2rem;
  background-color: rgb(248, 248, 248);
  padding: 6px 10px;
  margin-bottom: 10px;
  border-radius: 1em;
  color: #222;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {
    height: auto;
  } 
  
} 