/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {
  height: 77.2vh;
}

/* Set gray background color and 100% height */
.sidenav {
  height: 100%;
}

    
/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 5px;
}

.dashboard{
  margin: 0;
}

.dashboard h1{
  text-align: left;
  width: 100%;
  color: #f0ca21;
  font-weight: bold;
  text-shadow: 1px 2px 2px #222;
  padding: 10px;
  box-shadow:0 3px 5px -3px #ccc;
}

.dashboard ul li{
  margin: 10px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {
    height: auto;
  } 
  
} 