.listBooks ol li{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

.listBooks .title{
    border-bottom: 2px solid #f0bf1e;
    font-weight: bold;
}

.listBooks h2{
    margin-top: 20px;
    color: #B1D415;
}